.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-width);
  padding-top: 65px;
  padding-bottom: 54px;
  margin: 0 auto;
}

.actions {
  padding-top: 30px;
}

.detail {
  padding-top: 24px;
}

@media (max-width: 480px) {
  .wrapper {
    padding-bottom: 140px;
  }
}
