.action {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.image {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .image {
        width: 32px;
        height: 32px;
    }
}