.wrapper {
  padding: 140px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 66px;
}

.description {
  color: var(--color-text-light);
  text-align: center;
  max-width: 200px;
  margin-top: 25px;
}
