:root {
  /* Colors  */
  --color-white: hsla(0, 100%, 100%);

  /* Content sizes */
  --content-width: 730px;
  --viewport-padding: 24px;
}

html,
body,
button,
input,
textarea {
  color: var(--color-text);
}

html {
  background: var(--color-page-background);
  transition: background 0.25s ease-in-out;
}

html * {
  transition: background 0.25s ease-in-out;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: row;
}

body > main {
  flex: 1;
  position: relative;

  padding: 0;
  padding-left: 100px;
  padding-right: var(--viewport-padding);
}

@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }

  body > main {
    padding-left: var(--viewport-padding);
  }
}
