.action {
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.icon {
  stroke: var(--color-icon);
  fill: var(--color-icon);
}

.icon:hover {
  stroke: var(--color-icon-hover);
  fill: var(--color-icon-hover);
}
